{% extends '::base.html.twig' %}

{% block body_class %}top-navigation pace-done{% endblock %}

{% block body %}
    <div id="wrapper">
        <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom white-bg">
                <nav class="navbar navbar-static-top" role="navigation">
                    <div class="navbar-header">
                        <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                            <i class="fa fa-reorder"></i>
                        </button>
                        <a href="{{ path('home') }}" class="navbar-brand"><strong>ODG</strong></a>
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="{{ path('home') }}">
                                    <span class="m-r-sm text-muted welcome-message">{{ 'managementTool' | trans | upper }} - DYAM</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="navbar-collapse collapse" id="navbar">
                        <ul class="nav navbar-nav navbar-right">
                            {# Organisation #}
                            {% if hasUserAccessToRoute(app.user, 'app_organisation_list') %}
                                <li class="dropdown"><a href="{{ path('app_organisation_list') }}"><i class="fa fa-archive"></i>{{ 'organisations' | trans }}</a></li>
                            {% endif %}

                            {# Security #}
                            {% if hasUserAccessAtLeastOneRoute(app.user, ['app_user_list', 'app_group_list']) %}
                                <li class="dropdown">
                                    <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-shield"></i> Sécurité</a>
                                    <ul role="menu" class="dropdown-menu">
                                        {% if hasUserAccessToRoute(app.user, 'app_user_list') %}
                                            <li><a href="{{ path('app_user_list') }}"><i class="fa fa-user"></i>{{ 'usersManagement' | trans }}</a></li>
                                        {% endif %}
                                        {% if hasUserAccessToRoute(app.user, 'app_group_list') %}
                                            <li><a href="{{ path('app_group_list') }}"><i class="fa fa-users"></i>{{ 'groupsManagement' | trans }}</a></li>
                                        {% endif %}
                                    </ul>
                                </li>
                            {% endif %}

                            {# Connected user #}
                            <li class="dropdown connected-user">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="avatar fa fa-user-circle"></i>
                                    {{ app.user.firstname | capitalize }} {{ app.user.lastname | capitalize }}
                                </a>
                                <ul role="menu" class="dropdown-menu">
                                    <li>
                                        <a href="{{ path('app_user_account_info') }}"><i class="fa fa-address-card"></i>{{ 'myAccount' | trans }}</a>
                                    </li>
                                    <li><a href="{{ path('app_security_logout') }}"><i class="fa fa-sign-out"></i>{{ 'logout' | trans }}</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="row">
                <div class="wrapper wrapper-content">
                <div class="col-md-12 white-bg page-header">
                    <div class="col-lg-9">
                        <h2>{% block title %}{% endblock %}</h2>
                        <ol class="breadcrumb">
                            <li>
                                <a href="{{ path('home') }}">{{ 'home' | trans | capitalize }}</a>
                            </li>
                            {% block breadcrumb %}{% endblock %}
                        </ol>
                    </div>
                    <div class="col-lg-3">
                        <div class="title-action">
                            {% block title_action %}{% endblock %}
                        </div>
                    </div>
                </div>
                    {% block content %}{% endblock %}
                </div>
            </div>

            {# Footer #}
            <div class="footer">
                <div class="pull-right">
                    <strong>ODG - DYAM</strong> {{ app_version }} - <a href="{{ path('app_default_about') }}">{{ 'about' | trans | capitalize }}</a>
                </div>
                <div>
                    <strong>Copyright</strong> Myriam Didier &#169; {{ 'now'|date('Y') }}
                </div>
            </div>
        </div>
    </div>

    {# Global Modal #}
    <div class="modal fade" id="global-modal" tabindex="-1"></div>

    {# Flash message #}
    <ul id="flash-message-container">
        {% for type, messages in app.session.flashbag.all %}
            {% for message in messages %}
                <li data-type="{{ type }}">{{ message | trans }}</li>
            {% endfor %}
        {% endfor %}
    </ul>

{% endblock %}