{% extends ':organisation:base.html.twig' %}
{% import '::macros.html.twig' as macro %}

{% block breadcrumb %}
    {{ parent() }}
    {{ macro.breadcrumbItem((society is defined ? 'edit' : 'add') | trans) }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>{{ (society is defined ? 'editOrganisation' : 'addOrganisation') | trans }}
                        {% if society is defined  %}
                            <small>{{ society.name }}</small>
                        {% endif %}
                    </h5>
                </div>
                <div class="ibox-content">
                    {{ form_start(form) }}
                        {{ form_row(form.name) }}
                        {{ form_row(form.description) }}
                        {{ form_widget(form.submit) }}
                        {{ macro.btnAction('cancel', 'app_organisation_list', {}, {'btn_size': 'btn'}) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}