{% extends '::layout.html.twig' %}
{% import '::macros.html.twig' as macro %}

{% block breadcrumb %}
    {{ macro.breadcrumbItem(organisation.name) }}
{% endblock %}

{% block title %}{{ organisation.name }}{% endblock %}

{% block content %}
    <div class="row">
        {% if hasUserAccessToRoute(app.user, 'app_employee_list') %}
            <a class="btn-link" href="{{ path('app_employee_list', {'organisation_id': organisation.id, 'organisation_slug': organisation.slug}) }}">
                <div class="col-lg-3">
                    <div class="widget style1 white-bg">
                        <div class="row">
                            <div class="col-xs-4">
                                <i class="fa fa-users fa-5x"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                                <span> {{ 'employees' | trans }} </span>
                                <h2 class="font-bold">{{ organisation.employees | length }}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a class="btn-link" href="{{ path('app_financial_year_list', {'organisation_id': organisation.id, 'organisation_slug': organisation.slug}) }}">
                <div class="col-lg-3">
                    <div class="widget style1 white-bg">
                        <div class="row">
                            <div class="col-xs-4">
                                <i class="fa fa-calendar fa-5x"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                                <span> {{ 'accountingCycles' | trans }} </span>
                                <h2 class="font-bold">{{ organisation.financialYears | length }}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        {% endif %}
    </div>
{% endblock %}