{% extends '::layout.html.twig' %}
{% import '::macros.html.twig' as macro %}

{% block breadcrumb %}
    {{ macro.breadcrumbItem(organisation.name) }}
{% endblock %}

{% block title %}{{ organisation.name }}{% endblock %}

{% block content %}
    <ul>
        <li><a href="{{ path('app_employee_list', {'organisation_id': organisation.id, 'organisation_slug': organisation.slug}) }}">Gestion des employés</a></li>
        {% for fy in organisation.getfinancialYears() %}
            <li>{{ fy.start|date('d/m/Y') }} - {{ fy.end|date('d/m/Y') }}</li>
        {% endfor %}
        {#
        <li><a href="{{ path('app_financial_year_add', {'organisation_id': organisation.id, 'organisation_slug': organisation.slug}) }}">Ajouter une année comptable</a></li>
        #}
    </ul>
{% endblock %}